<div class="wrapper">
  <div class="bgimage"></div>
    <div class="top">
      <h2 class="title">Art</h2>
    </div>

    <div class="art-container">

      <div class="art-item">
        <img src="static/Abstraction-min.png">
      </div>

      <div class="art-item">
        <img src="static/Print14-min.png">
      </div>

      <div class="art-item">
        <img src="static/Print1-min.png">
      </div>
      
      <div class="art-item">
        <img src="static/Print2-min.png">
      </div>
      
      <div class="art-item">
        <img src="static/Print13-min.png">
      </div>

      <div class="art-item">
        <img src="static/pinko-art-3.png">
      </div>

    </div>

  </div>
</div>