<div class="wrapper">
  <div class="bgimage"></div>

  <div class="grid-container">
    
    <div class="grid-item">
      <img src="static/pinko-art.jpg">
      <div class="centered">
          <li><a class="glass-card" href="pinko.html">Learn More</a></li>
      </div>
    </div>

    <div class="grid-item">
      <img src="static/Pebbles-min.jpg">
      <div class="centered">
          <li><a class="glass-card" href="https://broncodev.itch.io/">My Games</a></li>
      </div>
    </div>

    <div class="grid-item">
      <img src="static/art.jpg">
      <div class="centered">
        <li><a class="glass-card" href="art.html">My Art</a></li>
      </div>
    </div>
    </div>

  </div>
</div>