<div class="wrapper">
  <div class="bgimage"></div>
  <div class="top">
    <h2 class="title">Pinko</h2>
    <h2 class="glow">The best f***ing board game.</h2>
  </div>

  <div><img class="cover" src="static/square.png"></div>

  <section class="centered">
    <p>
      Pinko is about power. It's the only game where you <strong>truly dominate in one moment and are
      destroyed in the next.</strong> 
    </p>
    <p>
      Create the Rules. Rewrite history.
    </p>
    <ul>
      <li><a class="glass-card" href="rules.html">Rulebook</a></li>
      <li><a class="glass-card" href="rules.html">Learn More</a></li>
    </ul>
  </section>

  <img src="static/square2.png">

  <section class="centered">
    <p>
      <strong>Destiny in the palm of your hand.</strong>
    </p>
    <p>
      The Rule Card system has been meticulously crafted to ensure destruction every time you play. No game will ever be the same.
    </p>
  </section>
</div>