<div class="wrapper">
  <div class="bgimage"></div>
  <div class="top">
    <h2 class="title">Pinko</h2>
    <h2 class="glow">"What's the best board game? The answer is Pinko."</h2>
  </div>

  <div><img class="cover" src="static/pinko-art.jpg"></div>

  <section class="centered">
    <p>
      Pinko is about socialism. It's the only game where you <strong>truly dominate in one moment and are
      destroyed in the next.</strong> 
    </p>
    <p>
      Create the Rules. Rewrite history.
    </p>
      <li class="horizontal">
        <a class="glass-card" href="rules.html">Rulebook</a>
        <a class="glass-card" href="rules.html">Learn More</a>
      </li>
  </section>

  <img src="static/square2.jpg">

  <section class="centered">
    <p>
      <strong>Destiny in the palm of your hand.</strong>
    </p>
    <p>
      The Rule Card system has been meticulously crafted to ensure destruction every time you play. No game will ever be the same.
    </p>
  </section>
</div>