<div class="wrapper">
  <div class="bgimage"></div>
  <div class="top">
    <h2 class="title">Pinko</h2>
    <h2 class="glow">Rulebook</h2>
  </div>

  <section >
    <h2>The Goal</h2>
    <p>
      Pinko is about power. A player wins by currently owning 7 Assets or
      140 Credits. Alternatively, a player may win by eliminating all other players.
    </p>
    <h2>Getting Started</h2>
    <p>
      Each player chooses a Player Marker and places it at the START space.
      Each player receives...
    </p>
    <ul>
      <li>10 Asset Markers (person-shaped beads)</li>
      <li>15 Credits</li>
      <li>1 Rule Card</li>
    </ul>
    <p>
      Players roll to determine who goes first and who collects the first
      Rule Card. Turns will go clockwise after the first player.
    </p>
  </section>

  <section class="blue">
    <h2>Each Turn</h2>
    <p>
      Before they roll, the player may use any number of their Rule cards
      (see Rule Cards).<br /><br />

      The player must roll the die and move to end their turn. The player
      moves their pawn the number of spaces corresponding to the dice. If
      they drop one die on the floor this die's value is void. If passing
      Start, the player collects Rule Cards.<br /><br />

      If both die show the same number upon rolling (doubles) the current
      player draws an Event card.
    </p>
  </section>

  <section>
    <h2>Assets</h2>
    <p>
      Assets are spaces on the board that can be acquired by players. Land
      on an unowned Asset to collect its Return Fee in Credits. Land on an
      owned Asset and you must pay the owning player the Return Fee. The
      Return Fee will often be modified by Rule cards throughout the
      game.<br /><br />

      If multiple players arrive at the same time, an auction can be started
      between them to acquire the Asset. Auction price starts at 1 Credit
      and goes up.<br /><br />

      Each 3 Assets held increases Rule Card gain by 1. This does not apply
      to Rule Card effects or Events.
    </p>
  </section>

  <section>
    <h2>Rule Cards</h2>
    <p>
      Rule cards allow players to influence the way the game is played. Some
      have an effect that takes place instantly (such as gaining an amount
      of Credits), while others are placed on the board or in front of a
      player.<br /><br />

      Most Rule cards can only be played before a player rolls on their
      turn. Blitz Rule cards are an exception and may be used during other
      players' turns.<br /><br />

      Rule Cards are gained when a player passes Start or lands on a Collect
      Rule space. Rule Cards, Event Cards, and Assets can be sold at any
      time for 5 Credits each.
    </p>
  </section>

  <section>
    <h2>Event Cards</h2>
    <p>
      Event cards must be played instantly. Their effect takes place after
      the player moves their Marker on a roll. Then they are placed upside
      down beneath the deck. The deck should be shuffled once all cards have
      been drawn once.
    </p>
  </section>

  <section>
    <h2>Shop</h2>
    <p>The Shop allows players to buy Rule Cards.</p>
    <h2>Time Machine</h2>
    <p>
      Players may arrive at Time Machine spaces on either side of the board.
      They are teleported instantly to the opposite Time Machine space.
    </p>
  </section>
</div>
