body {
  background-color: rgb(0, 0, 0);/* Requirement-2.4 */
  color: rgb(255, 255, 255);/* Requirement-2.3 */
}

.wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 15px;
  padding: 0px;
}

::-webkit-scrollbar {/* Requirement-2.E */
  width: 0px;
}


.top{/* Requirement-2.C */
  text-align: center;/* Requirement-2.2 */
  z-index: 80;/* Requirement-2.9 */
  float: none;
  transform-style: preserve-3d;
}

#mid{
  margin:0%;
  border-radius: 0px;
  background-color: #00000000;
}

* {
  box-sizing: border-box;
}

h2{
  text-align: left;
  margin: 0px;
  padding: 10px;
}

@keyframes mymove {
  from {transform: translateZ(-10px) scale(3);}
  to {transform: translateZ(-10px) scale(2);}
}
/*
.bgimage {
  background-image: url(pinko.png);
  mask-image: linear-gradient(180deg,rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  animation: mymove 4s cubic-bezier(0.19, 1, 0.22, 1);
  animation: none;
  animation-fill-mode: forwards;
  filter: blur(0px) saturate(1.5);
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  border-radius: 0px 0px 20px 20px;
  transform: translateX(-20%) translateY(-20%) translateZ(-10px) scale(1);
  width: 200%;
  height: 300%;
  margin-left: auto;
  position: absolute;
  z-index: -1;
  overflow: clip;
}*/

.bgimage{
  background-image: url(pinko.png);
  min-height: 100vh;
  position:fixed;
  background-position:top;
  display: none;
}

@media screen and (max-width: 1000px){ 
  .bgimage{
  } 
  section h2{
    text-align: left;
    margin: 10px;
  }
  *{
    text-align: left !important;
  }
}

section {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 1000px;
  border-radius: 20px;
  background-color: #000000;
}

footer{
  margin: 20px 10px;
  padding: 10px;
  text-align: center;
  float:none;
  background-color: #ffffff00;
}

table{
  margin: 20px;
  padding: 20px;
}

td, th{
  padding: 10px 30px;
  text-align: left;
}

a img:hover{
  filter: brightness(1.2);
}

figcaption{
  visibility: hidden;
  position: fixed;
}

summary{/* Requirement-2.H */
  background-color: #40404054;
  border-radius: 20px;
  padding: 20px 10px;
  margin: 0px 0px; 
}

summary:hover{
  background-color: #9393938c;
}

details{/* Requirement-2.G */
  margin: 0px;
  padding: 0px 10px;
  float: left;
  width: 50%;
}

a {
  color:#c1f5ff;
  padding: 0px;
  margin: 0px;
}

iframe{
  display: block;
  width: 100%; 
  border: none; 
  overflow-y: auto; 
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  height: 100%;
  border: none;
}

html{
  font-family: 'Lexend', Arial, sans-serif;/* Requirement-2.1 */
  scroll-behavior: smooth;
  overflow: auto;
}

html,body,iframe {
            margin: 0px;
            padding: 0px;
            height: 100%;
            border: none;
        }

p{/* Requirement-2.A */
  margin: 20px;
}

.title{/* Requirement-2.D */
  text-align: center;
  clear: both;
  top: 10%;
  height: 50%;
  width: 100%;
  margin: 0px;
  animation: mymove 4s cubic-bezier(0.19, 1, 0.22, 1);
  animation: none;
  animation-fill-mode: forwards;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 120px;
}

nav ul {
  list-style-type: none;/* Requirement-2.8 */
  margin:0px;
  margin-left: auto;
  margin-right: auto;
  visibility: visible;/* Requirement-2.16 */
  padding: 0px;
  position: fixed;
  overflow: hidden;/* Requirement-2.14 */
  background: linear-gradient( 
                to top, #00bfff00, #0000006b);
  width: 100%;
  border-radius: 0px;
  z-index: 100;/* Requirement-2.17 */
}

nav li {
  float: right;
  background-color: #000000;
  border-radius: 20px;
  margin: 10px;
}

li a {/* Requirement-2.F */
  display: block;/* Requirement-2.12 */
  clear: both;/* Requirement-2.13 */
  color: white;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
}

li a:hover:not(.active) {/* Requirement-2.F */
  background-color: #4b4b4b;
  border-radius: 20px;
}

.active {
  background-color: #ffffff;
  border-radius: 20px;
  color: black;
}

.blue{
  background-color:#0056be;
}

/* On mobile */
@media screen and (max-width: 1000px){ 

  section{
    border-radius: 40px;
    padding: 40px;
  }

  div{
    padding: 40px;
  }

  p.title{
    font-size: 40px;
    font-style: italic;
  }

  h1.title{
    font-size: 600%;
  }
  .title{
    padding: 20px;
  }

  nav ul{
    display: none;
  }

  nav ul li{
    font-size: 100px;
    padding: auto;
  }
}